*{
  margin: 0;
  padding:0;
}

.App {
  text-align: center;
  background-color: aqua;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo img {
  width: 40px; /* Adjust as needed */
  height: auto;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  font-size: 20px;
}

/*  upload section */

.upload{
  margin-top: 10px;
  float: left;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* scene */
.renderScene {
  width: 50vw; /* Adjust as needed */
  height: 60vh; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}
